* text=auto

*.cs text diff=csharp
*.asmdef text
*.json text
*.txt text
*.md text

*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.mat text eol=lf merge=unityyamlmerge
*.meta text eol=lf merge=unityyamlmerge
*.anim text eol=lf merge=unityyamlmerge
*.controller text eol=lf merge=unityyamlmerge
*.overrideController text eol=lf merge=unityyamlmerge
*.playable text eol=lf merge=unityyamlmerge
*.shadergraph text eol=lf merge=unityyamlmerge

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.blend binary
